@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: white;
  background-color: #1e293b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.tr-ring-gray-200 {
  background-color: #0f172a;
  --tw-ring-color: #475569;
}

.tr-bg-gray-100 {
  background-color: #334155;
}

.text-white {
  color: #ffffff;
}

.tr-text-gray-700 {
  color: white;
}

.tr-text-gray-500 {
  color: white;
}

.tr-bg-white {
  background-color: #0f172a;
}

.hover\:tr-bg-gray-50:hover {
  background-color: #0f172a;
}
